body {
font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #fdd9cb;
}
body {
    background-color: #fdd9cb;
}
header {
  color:fdd9cb;
}
h1 {
  color: 2c0a2d;
  background-color:fdd9cb;
  font-size:60px ;
}
h3 {
  color: 2c0a2d;
}
