body {
font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #6534ff;
}
body {
    background-color: #fdd9cb;
}
header {
  color:fdd9cb;
}
h1 {
  color: white;
  font-size:100px ;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
.experience {

  justify-content: right;
  margin-top: 20px;
}
